
<div class="text-center">
	<form method="post">
		<label>Введите название нового товара</label>
		<input type="text" name="newName"></input>
		<br>
		<label>Введите стоимость нового товара</label>
		<input type="text" name="newCost"></input>
		<br>
		<label>Введите описание нового товара</label>
		<input type="text" name="newCost"></input>
		<br>
		<button type="submit" asp-controller="Product" asp-action="NewProduct">Создать</button>
	</form>
</div>
