@model Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="https://sneg.top/uploads/posts/2023-04/1680847855_sneg-top-p-kapibara-zhivotnoe-kartinki-krasivo-59.jpg" class="w-25"></img>
        <p>@Model.Name</p>
        <p>@Model.Cost</p>
        <p>@Model.Description</p>
        <a href="/Home/Index" class="btn btn-info">Продолжить покупки</a>
        <br>
        <a href="#" class="btn btn-info mt-3">Добавить в корзину</a>
    </div>
</div>
