@model Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="@Model.ImgLink" class="w-25"></img>
        <p>@Model.Name</p>
        <p>@Model.Cost</p>
        <p>@Model.Description</p>
        <a href="/Home" class="btn btn-info">Продолжить покупки</a>
        <br>
        <a href="#" class="btn btn-info mt-3">Добавить в корзину</a>
    </div>
</div>
