
<form method="post">
    <div class="text-center">
        <h2>Регистрация</h2>
        <input type="text" name="login" placeholder="Логин"/>
        <br>
        <input type="password" name="password" placeholder="Пароль"/>
        <br>
        <input type="password" placeholder="Повторите пароль"/>
        <br>
        <button class="btn btn-info mt-3" type="submit" asp-controller="registry" asp-action="enter">Зарегистрироваться</button>
        <br>
    </div>
</form>
