@model Order
<form method="post">
    <div class="text-center">
        <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name">Имя</label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <br>
        <div>
            <label asp-for="Email">Почта</label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <br>
        <div>
            <label asp-for="Address">Адрес</label>
            <input asp-for="Address">
            <span asp-validation-for="Address"></span>
        </div>
        <br>
        <button class="btn btn-info mt-3" type="submit" asp-controller="Order" asp-action="Buy">Купить</button>
    </div>
</form>
