
@{
    ViewData["Title"] = "Order Page";
}

<div class="text-center">
    <form>
        <label>ФИО</label>
        <input type="text"></input>
        <br>
        <label>Email</label>
        <input type="text"></input>
        <br>
        <label>Адрес</label>
        <input type="text"></input>
    </form>
    <a href="/Order/Buy" class="btn btn-info mt-3">Купить</a>
</div>
