
<form method="post">
    <div class="text-center">
        <label>ФИО</label>
        <input type="text" name="name"/>
        <br>
        <label>Email</label>
        <input type="text" name="email"/>
        <br>
        <label>Адрес</label>
        <input type="text" name="address" />
        <br>
        <button class="btn btn-info mt-3" type="submit" asp-controller="Order" asp-action="Buy">Купить</button>
    </div>
</form>
