
<form method="post">
    <div class="text-center">
        <h2>Вход</h2>
        <input type="text" name="login" placeholder="Логин"/>
        <br>
        <input type="password" name="password" placeholder="Пароль"/>
        <br>

        <input type="checkbox" name="checkBox">Запомнить меня?</input>
        <br>
        <button class="btn btn-info mt-3" type="submit" asp-controller="login" asp-action="enter">Войти</button>
        <br>
        <a asp-controller="registry" asp-action="index">Зарегистрироваться</a>
    </div>
</form>
