@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRW4k-PAWSOwgrXhlXPSFMs41I2tpSsvBrPiEKS5Z9Lw&s" alt="Alternate Text" />
            <div class="card-body">
                <a style="color:black" href="/product/index/"@product.Id"" >
                    <h5>@product.Name</h5>
                </a>
                <h5>@product.Cost rub</h5>
                <a class="btn btn-dark" href="#" role="button">Добавить в корзину</a>
            </div>
        </div> 
    
    }
</div>

<div class="text-center">
    <h1 class="display-4">Домашнее задание</h1>
    <h2>Создание списка товаров для онлайн магазина</h2>
    <p><a href="https://stepik.org/lesson/522438/step/2?unit=680171">Ссылка на задание</a></p>
</div>
