@{
    ViewData["Title"] = "Каталог";
}

<div class="text-center">
    <h1 class="display-4">Домашнее задание</h1>
    <h2>Создание списка товаров для онлайн магазина</h2>
    <p><a href="https://stepik.org/lesson/522438/step/2?unit=680171">Ссылка на задание</a></p>

    <p><a href = /home/index?ProductName></a></p>
</div>
