@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game shop</h1>
    <h2>Каталог</h2>
    <div class="row">
        @foreach(var product in Model){
            <div class="col-4 card bg-info">
                <img src="https://sneg.top/uploads/posts/2023-04/1680847855_sneg-top-p-kapibara-zhivotnoe-kartinki-krasivo-59.jpg"></img>
                <a href="Product/Index/@product.Id">@product.Name</a>
                <p>@product.Cost</p>
                <p>@product.Description</p>
                <a href="#" class="btn btn-dark mt-3">Добавить в корзину</a>
            </div>
        }
    </div>
</div>
