@model List<Product>
@{
    ViewData["Title"] = "Каталог товаров";
}

<div class = "row">
    @foreach (var product in Model)
    {
        <div class = "col-3 card shadow">
            <img class = "card-mg-top" src = "/images/@product.ImageURL"></img>

            <div class = "card-body">
                <a style: "color: black" href = "product/index/@product.Id"><h4>@product.Name</h4></a>
                <h5>@product.Cost</h5>
                <a class = "btn btn-dark" href = "#" role = "button">Добавить в корзину</a>
            </div>
        </div>
        

    }
</div>



<div class="text-center">
    <h1 class="display-4">Домашнее задание</h1>
    <h2>Создание списка товаров для онлайн магазина</h2>
    <p><a href="https://stepik.org/lesson/522438/step/2?unit=680171">Ссылка на задание</a></p>
</div>
